#bookDivWeb {
  height: 30vh;
  box-shadow: 1px 1px 3px #999999;
  position: relative;
  cursor: pointer;
  margin: 1vw;
}

#bookitemRecImg {
  object-fit: contain;
  height: 100%;
}

#bookTitleitemRec {
  height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
}

#bookTitleitemRec:hover {
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 1;
}

#bookTitleFontWeb {
  text-align: center;
  font-family: "NotoSans";
  font-size: 1vw;
  color: white;
  font-weight: bold;
}

#itemRecDivWeb {
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}

#itemRecDivMobile {
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 93vw;
  margin-left: 2vw;
}

#itemRecList {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

#itemRecListNameWeb {
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 2vh;
  margin-left: 1vw;
  font-family: "NotoSans";
}

#itemRecListNameMobile {
  font-size: 4vw;
  font-family: "NotoSans";
  font-weight: bold;
  margin-bottom: 2vh;
}
