#searchbookListDivMobile {
  width: 20vw;
  margin: 1.5vw;
  cursor: pointer;
}

#searchbookListDivWeb {
  width: 15vw;
  margin: 2vw;
  cursor: pointer;
}

#searchbookImg {
  object-fit: contain;
  width: 100%;
  box-shadow: 1px 1px 5px #999999;
}

#searchbookTitle {
  text-align: center;
  font-family: "NotoSans";
  margin-top: 1vh;
}

#searchFormDivMobile {
  width: 99vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
  display: flex;
  direction: row;
}

#searchResultMobile {
  margin-left: 4vw;
  font-size: 5vw;
  font-family: "NotoSans";
  font-weight: bold;
  margin-bottom: 5vh;
}

#searchResultWeb {
  margin-left: 4vw;
  font-size: 2vw;
  font-weight: bold;
  font-family: "NotoSans";
  margin-bottom: 5vh;
}

#searchResultList {
  display: flex;
  direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#searchFormDivWeb {
  width: 99vw;
  height: 35vh;
  align-items: center;
  justify-content: center;
  display: flex;
  direction: row;
}
