#pwCheckDiv {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

#pwCheckText {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

#pwCheckMsg {
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
}

#pwCheckTF {
  background-color: #f9f9f9;
  width: 280px;
}

#pwCheckBtn {
  background-color: #b28963;
  color: white;
  margin-left: 20px;
  width: 310px;
  margin-top: 20px;
  font-weight: bold;
}
